<div class="login-box">
  <h2>Sign Up</h2>
  <form>
    <div class="user-box">
      <input type="text" name="userName" required="" [(ngModel)]="signupObj.userName">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="email" name="email" required="" [(ngModel)]="signupObj.email">
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="" [(ngModel)]="signupObj.password">
      <label>Password</label>
    </div>
    <button (click)="onSignUp()" class="btn">Sign Up</button>
  </form>
</div>